body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  color: white;
  background-color: #191919;
}

main {
  height:100vh;
  margin: 0;
  font-family: "Poppins", sans-serif;
  background: linear-gradient(rgba(11, 11, 11, 0.8), rgba(11, 11, 11, 0.9)),
              url('../img/content-couple-enjoying-concert.webp');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: white;
}

/* navbar styling  */
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 50px;
  background: transparent;
}

.logo img {
  height: 40px;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 30px;
}

.nav-links li a {
  text-decoration: none;
  color: #fff;
  font-weight: 500;
  transition: color 0.3s, border-bottom 0.3s;
}

.nav-links li a:hover {
  color: #147240;
  padding-bottom: 3px;
}

.auth-buttons {
  display: flex;
  gap: 10px;
}

.btn {
  border: none;
  padding: 10px 18px;
  border-radius: 20px;
  cursor: pointer;
  font-weight: 600;
  transition: 0.3s;
}

.login {
  background: transparent;
  color: white;
  border: 1.5px solid white;
}

.login:hover {
    border: 1.5px solid rgb(41, 43, 41);
    background: #147240;
  color: white;
}

.signup {
  background: white;
  color: black;
}

.signup:hover {
  background: #147240;
  color: white;
}

/* hero content styling */
.hero-content{
  margin: 70px;
  display: flex;
  justify-content: space-around;
}

section h4{
  font-size: 60px;
}

.home-text h3{
  font-size: 40px;
}

.home-text p{
  font-size: 20px;
  font-family:'Courier New', Courier, monospace;
}

.Blog{
  gap: 100px;
  background-color: #147240;
  color: white;
  width: 150px;
  height: 40px;
}

.Event{
  width: 150px;
  background: transparent;
  border: 1px solid white;
  color: white;
  margin-left: 20px;
}

.Blog:hover{
  background-color: white;
  color: black;
}

.Event:hover{
  background-color: white;
  color: black;
  border: none;
}

/* blog content styling */
/* filter bar */

.Event-content {
  background: #111;
  padding: 60px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.filter-bar {
  margin-left: 10%;
  background: #147240;
  border: none;
  padding: 30px 40px;
  border-radius: 20px;
  width: 80%;
  max-width: 900px;
  color: white;
}

.filter-bar form {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

.wrap-Event-group{
  display: flex;
  flex-direction: column;
}

/* Labels */
.filter-bar label {
  font-size: 12px;
  font-weight: 500;
  margin-right: 10px;
  color: #ffffff;
}

/* Inputs */
.filter-bar input {
  background: transparent;
  border: none;
  border-bottom: 1px solid white;
  color: white;
  padding: 10px 15px;
  font-size: 14px;
  width: 220px;
  outline: none;
}

/* ==== upcoming events ===== */

article .Upcoming-Events{
  display: flex;
  justify-content: space-around;
  margin-top: 10%;
}

.Upcoming-Events h3{
  font-size: 180%;
}
.filter-select{
  background: transparent;
  font-size: 110%;
  margin-top: 9%;
  margin-left: 20px;
  border: none;
  color: #fff;
  outline: none;
}

.Upcoming-Events .event-filters option{
  background-color: #2B2B2B;
  color: white;
}


/* ======= Event cards ========= */
.wrap-card-group{
  margin-left: 5%;
}

.def-card {
  display: flex;
  justify-content: flex-end;
  margin-right: 5%;
}

.wrap-card-group .card-E{
  height: 13em;
  max-width: 70%;
  background-color: #222222;
  display: flex;
  margin-bottom: 5%;
}

.card-E .event-details{
  margin: 2%;
}

.event-details h2{
  font-size: 150%;
}

.card-E .date-event{
  margin: 3%;
}

.date-event h6{
  font-size: 100%;
  color: #147240;
}
.date-event h4{
  font-size: 200%;
}

article button{
  cursor: pointer;
  margin-left: 45%;
  background: transparent;
  padding: 1%;
  border: 1.5px solid #147240;
  border-radius: 20px;
  color: #147240;
  margin-bottom: 5%;
}


/* ========= footer =============== */

footer {
  background-color: #2B2B2B;
  display: flex;
  justify-content: space-around;
}

footer .part-1{
  margin-top: 2%;
  width: 20%;
}

footer .part-1 .footer-logo{
  width: 60%;
  margin-bottom: 10%;
}

footer .part-1 p{
  font-size: 60%;
  font-family:Arial, Helvetica, sans-serif;
}

footer .part-1 img{
  width: 10%;
}

footer .part-2{
  margin-top: 2%;
  margin-left: 5%;
}

footer .part-2 h3{
  font-size: 100%;
}

footer .part-2 ul{
  list-style: none;
}

footer .part-2 li{
  margin-left: -45%;
}

footer .part-2 a{
  text-decoration: none;
  font-size: 70%;
  color: white;
}

footer .part-4{
  margin-top: 2%;
  margin-left: 5%;
  width: 20%;
}

footer .part-4 p{
  font-size: 60%;
  font-family:Arial, Helvetica, sans-serif;
}

.input-container {
  position: relative;
  width: 110%;
  height: 20%;
}

.input-container input {
  width: 100%;
  padding-right: 40px;
  box-sizing: border-box;
  border: none;
  border-radius: 20px;
  height: 100%;
  width: 100%;
  outline: none;
}

.input-container button {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  background-color: #147240;
  color: white;
  border: none;
  padding: 8px 12px;
  cursor: pointer;
  border-radius: 20px;
}   