body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  background: linear-gradient(rgba(11, 11, 11, 0.8), rgba(11, 11, 11, 0.9)),
              url('./img/bg.png');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  color: white;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 50px;
  background: transparent;
}

.logo img {
  height: 40px;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 30px;
}

.nav-links li a {
  text-decoration: none;
  color: #fff;
  font-weight: 500;
  transition: color 0.3s, border-bottom 0.3s;
}

.nav-links li a:hover {
  color: #147240;
  padding-bottom: 3px;
}

.auth-buttons {
  display: flex;
  gap: 10px;
}

.btn {
  border: none;
  padding: 10px 18px;
  border-radius: 20px;
  cursor: pointer;
  font-weight: 600;
  transition: 0.3s;
}

.login {
  background: transparent;
  color: white;
  border: 1.5px solid white;
}

.login:hover {
    border: 1.5px solid rgb(41, 43, 41);
    background: #147240;
  color: white;
}

.signup {
  background: white;
  color: black;
}

.signup:hover {
  background: #147240;
  color: white;
}

section {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.Event-title h4{

}

.home-text h3{
  font-size: 40px;
}

.home-text p{
  font-size: 20px;
  font-family:'Courier New', Courier, monospace;
}

.Event{
  gap: 100px;
  background-color: #147240;
  color: white;
  width: 150px;
  height: 40px;
}

.Blog{
  width: 150px;
  background: transparent;
  border: 1px solid white;
  color: white;
  margin-left: 20px;
}

.Event:hover{
  background-color: white;
  color: black;
}

.Blog:hover{
  background-color: white;
  color: black;
  border: none;
}
